.black_box {
    -fx-background-color:  rgb(0,0,0, 0.35);
    -fx-border-color:  gold;
}

.brown_box {
    -fx-background-color:  rgb(228, 186, 160, 0.7);
    -fx-border-color:  rgb(130,76,27);
}

.box_radius {
    -fx-border-radius: 10;
    -fx-background-radius: 15;
    -fx-border-width: 5;
}

.white_box {
    -fx-background-color: white;
    -fx-border-color: yellow;
    -fx-border-radius: 5;
    -fx-background-radius: 10;
    -fx-border-width: 4;
}

.small_white_box {
    -fx-background-color: white;
    -fx-border-radius: 5;
    -fx-background-radius: 10;
    -fx-border-width: 2;
}
